<h2>ARP history</h2>

<table>
  <tr>
    <th>IP</th>
    <th>MAC@time</th>
  </tr>
  <% @arp_table.keys.sort_by { |ip| ip.split('.').collect { |part| part.to_i } }.each do |ip| %>
    <tr>
      <td><%= ip %></td>
      <td>
        <% @arp_table[ip].each do |entry| %>
          <%= entry['mac'] %> seen last at <%= entry['seen_at'] %><br />
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

