<h2>ARP history</h2>

<% unless @deleted.nil? %>
  <div class="info">
    <% if @deleted == 'invalid' %>
      Unable to remove entry with invalid ID.
    <% else %>
      Deleted <%= @deleted.to_s %> entries.
    <% end %>
  </div>
<% end %>

<div id="arpContent">
<%= erb :_mac_history %>
<%= erb :_mac_notes %>
</div>

