<html>
  <head>
    <meta charset="utf-8" />
    <title>QSNet</title>
  </head>
  <body>
    <h1>QSNet</h1>
    <ul>
      <li><a href="<%= url('/') %>">Index</a></li>
      <li><a href="<%= url('/pings') %>">Pings</a></li>
      <li><a href="<%= url('/status') %>">Status</a></li>
      <li><a href="/munin/">Munin &rarr;</a></li>
    </ul>

    <%= yield %>
  </body>
</html>

