
* {
  font-family: sans-serif;
  font-size: 14px;
  color:#ccc;
}
body { background-color:black; color:#ccc; }

h1 {
  float:right;
  font-size:34px;
}
h2 { font-size: 26px; }
h3 { font-size: 20px; }

a, a:link, a:visited, a:active, a:hover {
  color: #9f9;
  text-shadow: 1px 1px 1px green;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

nav ul, nav li {
  display: inline-block;
  margin:4px;
}
nav a, nav a:link, nav a:visited, nav a:active, nav a:hover {
  display:inline-block;
  padding: 3px;
  color:#000;
  background-color: #ccc;
  text-shadow: #cc0 0px 0px 5px;
  box-shadow: 0px 0px 7px #ccc;
  -moz-box-shadow: 0px 0px 7px #ccc;
}
nav a:hover {
  background-color: #fff;
  text-shadow: #ff0 0px 0px 5px;
  box-shadow: -2px 2px 7px #fff;
  -moz-box-shadow: -2px 2px 7px #fff;
  position:relative;
  top:-2px;
  left:2px;
}

article {
  clear:both;
  border: 2px dashed #ccc;
  margin:2em;
  padding:1em;
  background-color: #333;
  color: #dfd;
  position:relative;
}
article * { color: #dfd; }
article input, article textarea {
  color: black;
  background-color: #eee;
}
article input.button {
  background-color: #ccc;
}
article input.file {
  color:#999;
  background-color:black;
}

.error {
  color:red;
  text-shadow: 0px 0px 4px #000;
  text-align:center;
  font-style:italic;
}

#systemStatus dd {
  white-space:pre;
  font-family: monospace;
}

#arpContent:after {
  content:'.';
  display:block;
  clear:both;
  height:0px;
  visibility:hidden;
}

#arpTable {
  float:left;
}

#arpTable td {
  border-top: 1px solid #555;
  padding: 2px 1px 2px 1px;
  vertical-align: top;
}

#macNotes {
  clear:right;
  margin-left:auto;
}
#macNotes .inner {
  height: 200px;
  overflow-y:auto;
}
#macNotes c1 {width:120px;}
#macNotes c2 {width:220px;}
#macNotes c3 {width:60px;}
.macUnknown {
  background: url('./vlnka.gif') repeat-x 0 100%;
  /* zdroj stylu i obrazku: http://teststranek.kvalitne.cz/podtrzeni-obrazkem/ */
}
.macOver {
  color:yellow;
}

#trafficTable { }
#trafficTable td, #trafficStatsTable td { padding-right: 7px; }
#trafficTable .total td, #trafficTable .total th {
  font-weight:bold;
  border-top: 1px solid #ccc;
}
#trafficStatsTable th { text-align:right; }
#trafficStatsTable td { text-align:right; }

#paymentsForm {}
#paymentsTable {}
#paymentsTable th { padding:0.5em; }
#paymentsTable td { padding:0.1em; text-align: center; }
#paymentsTable .correct { background-color:#393; }
#paymentsTable .underpaid { background-color:#933; }
#paymentsTable .overpaid { background-color:#aa3; }
#paymentsTable .noRecord { background-color:#333; }


#logArea {
  color:#222;
  font-family:monospace;
  white-space:pre;
  background-color:#aaa;
  height:200px;
  overflow:auto;
}

